@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root {
  /* min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  overflow: auto; */
  /* position: relative;
  min-height: 100%; */
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}
